:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container-fluid {
        background-color: #CECECE;
        
        &.body {
            flex: 1 0 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            .thanks {
                color: black;
                margin-top: -25%;
                margin-bottom: 30px;
            }

            .card {
                h1 {
                    margin: 0;
                }
            }
        }
    }
}